<div class="container my-5">
    <h1 class="mb-3">
        Characters
    </h1>
    <table class="table" *ngIf="characters && characters.length > 0">
        <thead>
            <tr>
                <th>Character ID</th>
                <th>Name</th>
                <th>Strength</th>
                <th>Intelligence</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let character of characters">
                <td>
                    {{character.id}}
                </td>
                <td>
                    {{character.name}}
                </td>   
                <td>
                    {{character.strength}}
                </td>
                <td>
                    {{character.intelligence}}
                </td>
            </tr>
            
        </tbody>
    </table>
    <p *ngIf="!characters || characters.length <= 0 ">No Employees Found</p>
</div>